 .initial-loading {
    background-color: rgb(195, 235, 219);
    height: 100vh;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

    /* Initial opacity for fade-in/out effect */
    opacity: 0;
    animation: fadeIn 1s forwards, fadeOut 3s 5s forwards; /* Adjust timing as needed */
}

.initial-spinner {
    width: 300px;
    height: 300px;
    margin: 10px;
    display: flex;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 177, 177);
    box-shadow: 0 0 0 0 rgba(233, 177, 178);
    transform: scale(1);
    animation: pulse 2s infinite, spinIn 1s forwards, spinOut 3s 5s forwards; /* Combine animations */
}

.initial-icon {
    font-size: 8rem;
    opacity: 0;
    animation: iconFadeIn 1s forwards, iconFadeOut 3s 5s forwards;
}

/* Pulse animation for spinner */
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(255, 255, 255);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(248, 247, 247, 0.171);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(252, 252, 252, 0.705);
    }
}

/* Fade-in animation for the loading container */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Fade-out animation for the loading container */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Spin-in animation for the spinner */
@keyframes spinIn {
    0% {
        transform: rotate(-360deg) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}

/* Spin-out animation for the spinner */
@keyframes spinOut {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg) scale(0.5);
        opacity: 0;
    }
}

/* Fade-in animation for the icon */
@keyframes iconFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Fade-out animation for the icon */
@keyframes iconFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
